In [128]:
#Create a dictionary where each object contains a list of one float (Age) 
#and one string (Family name) (at least 5 objects) 
#Example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}
people = {'John':[25.5,"Lanier"], 'Carlos':[30,"Rodriguez"],'Robert':[45,"Legrand"],'Wendy':[26.5,"Smith"], 'Diana':[35,"Maclin"]}

In [129]:
#Delete one object from the dictionary
del people['John']
People

{'Carlos': [45, 'Rodriguez'],
 'Robert': [45, 'Legrand'],
 'Wendy': [26.5, 'Smith'],
 'Diana': [35, 'Maclin']}

In [130]:
#Replace the float number of one of your objects - we are changing a list 
#entry inside a dictionary record! look at Darwin's new age 
#Example: {Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}
people['Carlos'][0] = 45
people

{'Carlos': [45, 'Rodriguez'],
 'Robert': [45, 'Legrand'],
 'Wendy': [26.5, 'Smith'],
 'Diana': [35, 'Maclin']}

In [131]:
#Write a for loop that goes through all records in the dictionary, 
#and assigns the float numbers into one merged list (see ages) 
#ages = [23.4, 22.9, 552.9]
ages = []
#getting values from Dictionary into a list of lists
for name in people:
    info = list(people.values())
#getting the age (index 0) of each element
for person in info:
    age=person[0]
#saving each age into the ages list
    ages.append(age)
ages

[45, 45, 26.5, 35]

In [132]:
#Instructions: Calculate with a for loop the median and mean of the ages list

#---------------------------------------------------------------------------------------

#Reference: 

#median = (n+1)/2
#mean = sum(n)/n

#The median is also the number that is halfway into the set. 
#To find the median, the data should be arranged in order from 
#least to greatest. #If there is an even number of items in the data set,
#then the median is found by taking the mean (average) of the two middlemost numbers.

#----------------------------------------------------------------------------------------

#Start of Code --------------------------------------------------------------------------

#counter
n=0
#variable to keep sum of ages
add_age = 0
# number of items on the list
x = len(ages)
#sorting values for median
sorted_ages = sorted(ages, key = float)
#for loop to calculate the mean 
for age in sorted_ages:
    #calculate the mean age
    
    add_age += age
    mean = add_age/x
    
    #calculating the median for an odd number list
if (x%2)>0:
    print('The list is odd!')
    #List indexes starts in 0
    median_pos = int(x/2)
    median = sorted_ages[median_pos]   
    
   # calculating the median for an even number list
elif (x%2) == 0:
    print('The list is even!')
    #List indexes starts in 0
    pos1 = int(x/2)-1
    pos2 = int(x/2)
    median = (sorted_ages[pos1]+sorted_ages[pos2])/2
    
print ("List of ages: ", sorted_ages)    
print("Median Age = " + str(median))
print("Mean Age = " + str(mean))

#End of Code ------------------------------------------------------------------------------

The list is even!
List of ages:  [26.5, 35, 45, 45]
Median Age = 40.0
Mean Age = 37.875

[26.5, 35, 45, 45]