In [8]:
# Pandas and numpy - pair-up
# With a partner of your choosing complete the following in a jupyter notebook.

# Read the following data into a pandas data frame ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt

# Select columns 0,1,3 [[0, 1, 3]]

# Use a for loop to find all rows where Co2 (column 3) enteries with the value -99.99 (these are missing values) and replace them with NaN values (try using np.nan - do you know what it is? )

# Change names of columns to year, month, and CO2 (use colnames)

# Add a column 'Day' and specifiy the day 15 for all enteries

# Add a date column according to the 'year', 'month' and 'day' columns (options: use apply with lambda or for loop together with datetime.date (make sure to import it))

# Drop the 'Day' column

import pandas as pd
df=pd.read_csv('ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt', delimiter = '\t')
df.head()

  # --------------------------------------------------------------------
0                            # USE OF NOAA ESRL DATA
1                                                 #
2  # These data are made freely available to the ...
3  # scientific community in the belief that thei...
4  # will lead to greater understanding and new s...